# Database Configuration
DB_HOST=192.168.86.100
DB_PORT=5432
DB_NAME=aquiferpe
DB_USER=aquifer_app
DB_PASSWORD=aquiferpe1Success11!
DB_SSL=false
DB_MAX_CONNECTIONS=20
DB_IDLE_TIMEOUT=30000
DB_CONNECTION_TIMEOUT=5000

# Application Configuration
NODE_ENV=development
PORT=3000
# Frontend API URL (leave empty for same-origin, set to full URL for different origin)
VITE_API_URL=

# Authentication
# Semicolon-separated list of allowed emails (e.g., user1@example.com;user2@example.com)
ALLOWED_EMAILS=

# Google Drive Configuration
GOOGLE_DRIVE_FOLDER_ID=1t7xNhateY2xsSb3ghuzkSaW-HDqmFmYf
GOOGLE_APPLICATION_CREDENTIALS=./server/service-account.json

# Encryption key for email (must be 32 characters)
ENCRYPTION_KEY=a1b2c3d4e5f6g7h8a1b2c3d4e5f6g7h8

# Email to impersonate for Google API calls (e.g., emma@aquiferpe.com)
GOOGLE_IMPERSONATED_EMAIL=emma@aquiferpe.com

#ES configuration
ELASTICSEARCH_NODE=http://192.168.86.100:9200